* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #f8f9fc;
  color: #333;
}
header {
  background: linear-gradient(90deg, #007bff, #6610f2);
  padding: 15px 0;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.nav-links li a:hover {
  color: #ffdf5d;
}
